.main{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Montserrat', Arial,sans-serif;
}

.header{
  background-color: #fff;
  padding: 1em;
  padding-left: 1.5em;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  top: 0;
  z-index: 10;
}

@media screen and (min-width:900px){
  .header{    
      position: sticky;
      padding:1.5em;
  }
}

.brandNname{
  font-size: 23px;
  display: inline;
  font-weight: bolder;
  color: #20292f;
}

.logo{
  display: inline;
  max-height: 18px;
  margin-right: 5px;
}

.nav{
  float: right;
}

@media screen and (max-width:700px){
  .nav{
      float: none;
  }
  .header{
      text-align: center;
      vertical-align: baseline;
  }
}
.nav > ul{
  list-style: none;
}

.nav li {
  text-indent: 0;
  display: inline;
  padding: 25px;
}

.navLink{
  color: #000;
  text-decoration: none;
}

.active{
  font-weight: 900;
}

.entryContent{
  background-color: #267871;
  background-image: linear-gradient(304deg, rgb(212, 244, 223) 0%, #267871 74%);
  margin:0;
  color:#fff;
  padding: 2em;
  padding-top: 3em;
  padding-bottom:3em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0 0 50% 0;
}

@media screen and (min-width:1100px){
  .entryContent{
      padding-left: 17em;
      padding-right: 17em;
      flex-direction: row;
      columns: 2;
      border-radius: 0 0 150% 15%;
  }
}

.question>h1{
  font-size: 33px;
  font-weight: lighter;
  line-height: 1.3em;
  text-transform: capitalize;
}

.question p{
  font-size: 17px;
}

.question .button{
  padding:1em;
  background-color: #003bde;
  margin-top: 40px;
  display: inline-block;
}

.button a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.button a:visited{
  color: #fff;
}

.team{
  width: 80%;
  animation: grow 1s linear;
  animation-fill-mode: forwards;
  user-select: none;
}

.packageImage{
  animation: grow 1s linear;
  animation-fill-mode: forwards;
  user-select: none;
}

@media screen and (min-width:900px){
  .team{
      width: 65%;
  }
}

@keyframes grow{
  from{
      transform: scale(0.5);
      opacity: 0;
  }to{
      transform: scale(1);
      opacity: 1;
  }
}

.card{
  display: flex;
  flex-direction: row;
  box-shadow:0px 10px 80px -10px rgba(44,54,92,0.2);
  line-height: 2em;
  border-radius: 10px;
  margin-top:2em;
  /* background-image: linear-gradient(30deg,#003bde ,#003bde 5%,white 10%,white 90%,#003bde 100%, #003bde 100%); */
}

.cardImg{
  height: 32px;
  width: 32px;
  margin: 30px 5px 10px 10px;
}

.card .title{
  padding-top: 30px;
  font-size: 20px;
  font-weight: 900;
  color:#1e2327;
}

.insurances{
  width: 80%;
  margin: auto;
  display:grid;
}

@media screen and (min-width:900px){
  .insurances{
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 70vw;
  }

  .card{
      margin-right: 25px;
      margin-left: 25px;
  }
}
.description{
  color: rgb(75, 71, 71);
  font-weight: bold;
  padding: 20px 20px 20px 0;
  font-size: 15px;
}

.reviewWrapper h2{
  margin-top: 60px;
  font-size:30px;
  font-weight: bolder;
  text-align: center;
  line-height: 40px;
}

.reviewWrapper{
  margin: auto;
}


@media screen and (min-width:900px){
  .reviewWrapper{
      width:50vw;
  }
}

.review{
  box-shadow:0px 10px 75px -10px rgba(44,54,92,0.2);
  padding: 15px;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 10% 40px 10%;
}

.review>img{
  height: 80px;
  width: 80px;
  margin:20px;
  border-radius: 50%;
}

.review>blockquote{
  color: rgb(27, 26, 26) ;
  font-weight: bold;
  text-indent: none;
  padding: 20px;
}
.review>.name{
  font-weight: bolder;
  margin:20px;
}

.review>.name::before{
  content: '~';
}

@media screen and (min-width:900px){

}

.edge{
  margin: 0;
  padding: 0;
  height:130px;
  position: relative;
  background-image: url('/half-hex.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  outline: 0px;
}

@media screen and (min-width:900px){
  .edge{
      height: 200px;
  }
}

.contact{
  background-color: #267871;
  background-image: url('/2hex.png');
  background-size:100% auto;
  background-repeat: no-repeat;
  max-width: 100vw;
  padding-bottom: 20vh;
}

.contact > h2{
  color: #fff;
  padding: 60px;
  padding-left: 0;
  font-size: 40px;
  font-weight: bolder;
  text-transform: capitalize;
  line-height:110%;
  width: 80%;
  margin: auto;
}

@media screen and (min-width:900px){
  .contact >h2{
      width: 60%;
  }
}

.formContainer{
  width: 80vw;
  padding: 20px;
  padding-bottom: 50px;
  margin: auto;
  background-color: #fff;
  box-shadow:0px 10px 80px -10px rgba(44,54,92,0.2);
  border-radius: 10px;
}

.formContainer  p{
  margin:auto;
  text-align: center;
}
@media screen and (min-width:900px){
  .formContainer{
      width:60vw;
  }
}

.formContainer h2{
  font-size: 40px;
  font-weight: 600;
  margin-top: 50px;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  color: #1e2327;
  text-transform: capitalize;
}

.formContainer p{
  padding: 20px;
}

.form{
  width: 90%;
  margin-bottom: 20px;
}


.formInput{
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  outline: rgb(75, 71, 71);
}

.formInputTextarea{
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  outline: rgb(75, 71, 71);
  height: 150px;
}


.textarea::-webkit-scrollbar{
  display: none;
}

.formSubmitButton{
  width:100%;
  background-color: #003bde;
  color: #fff;
  outline: none;
  padding: 16px;
  margin: 0;
  text-align: center;
}

.footer {
  min-height: 200px;
  color: rgb(148, 144, 144);
  background-color: #1e2327;
  padding: 1em;
  display: flex;
}

@media screen and (min-width: 900px) {
  .footer {
     padding-left: 5%;
  }
}

.benifits {
  background-color: rgb(233, 236, 241);
  padding: 2em;
}

@media screen and (min-width: 900px) {
  .benifits {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.policies {
  display: flex;
  flex-direction: column;
}

.policy {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 900px) {
  .policies {
    flex-direction: row;
  }

  .policy {
    margin-left: 15%;
  }

  .policyImg {
    width: 70%;
  }
}

.benifits>h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333;
}

.benifits h2 {
  color: #333;
}

.policyImg {
  width: 90%;
}

.benifitCard {
  margin-top: 16px;
}

@media screen and (min-width: 900px) {
  .benifitCard {
    background-color: #fff;
    padding: 20px;
    padding-right: auto;
    border-radius: 5px;
  }
}

.benifits ul {
  line-height: 1.8em;
  list-style-position: inside;
}

.benifits>button {
  margin: auto;
  display: block;
  background-color: #267871;
  color: #fff;
  padding: 15px 20px 15px 20px;
  outline-width: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.faqs {
  background-color: #fff;
  padding: 2em;
}

@media screen and (min-width: 900px) {
  .faqs {
    width: 80%;
    margin: auto;
  }

  .faqContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.faqs>h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #333;
}

.faq {
  color: #222;
  margin: 10px;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 1em;
  line-height: 1.6em;
  background-color: rgb(248, 248, 250);
  border-radius: 5px;
}

.q {
  line-height: 2em;
}

.others {
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 20%;
}


@media screen and (min-width: 100px) {
  .others {
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width:900px) {
  .otherInsurances {
    display: flex;
    flex-direction: row;
  }
}
.otherInsurance {
  width: 100%;
  padding: 2em;
  text-align: center;
}

.otherInsurance>img {
  max-width: 90%;
  height: auto;
}

.otherInsurance {
  color: #333;
  box-shadow: 0px 10px 80px -10px rgba(44, 54, 92, 0.2);
  margin-top: 2em;
  margin-bottom: 2em;
}

@media screen and (min-width:160px) {
  .otherInsurance {
    margin: 2em;
  }
}

.otherInsurance p {
  margin-top: 10px;
}


/* CSS for each column */
.footerColumn {
  flex: 1;
}

/* Optional styling for column content */
.footerColumn h3 {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 10px;
}

.footerColumn ul {
  list-style-type: none;
  padding: 0;
}

.footerColumn ul li {
  margin-bottom: 5px;
}

.footerNav:hover{
  color: #ffffff;
}


.submitForm {
  margin-top: 20px;
  margin-bottom: 20px;
}


.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.userform {
  display: flex;
}

.userFormContainer {
  width: 50%;
  margin: auto;
  justify-content: center;
  max-width: 400px;
}
.userFormContainerTitle{
  text-align: center;
}
.userFormContainerFooter {
  display: flex;
  margin: auto;
  width: 100%;
}

.userFormContainerBody {
  display: flex;
  margin: auto;
}

.formLabel {
  text-align: left;
  font-size: 12px;
}
.formInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.formButton {
  width: 100%;
  background-color: #003bde;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.formSpan {
  font-weight: lighter;
  color: grey;
}
.progressBar{
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 25%;
  width: 50%;
}

.servicesDetail_containerTitleDescription {
  font-size: 16px;
  font-weight: '400';
  margin-bottom: 10px;
  color: 'black';
}

.servicesDetail_containerDescription {
  margin-bottom: 110;
}

.descriptionScroll{
  background-color:rgb(255, 255, 255);
  width: 400px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  padding: 20px;
}

.entry {
  background-image: linear-gradient(304deg, rgb(212, 244, 223) 0%, #267871 74%);
}

.entryContent {
  margin: 0;
  color: #fff;
  padding: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* border-radius: 0 0 50% 0; */
}

@media screen and (min-width: 900px) {
  .entryContent {
    padding-left: 15%;
    padding-right: 15%;
    flex-direction: row;
    columns: 2;
  }
}

.submitFormQuestion > h1 {
  font-size: 40px;
  font-weight: lighter;
  line-height: 1.3em;
  text-transform: capitalize;
  padding-bottom: 1em;
}

.submitFormQuestion p {
  font-size: 17px;
}


.submitFormContact {
  max-width: 100vw;
  padding-bottom: 20vh;
}

@media screen and (min-width: 900px) {
  .submitFormContact > h2 {
    width: 70%;
  }
}

.submitFormContainer {
  width: 80vw;
  padding: 20px;
  padding-bottom: 50px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 10px 80px -10px rgba(44, 54, 92, 0.2);
  border-radius: 10px;
}

.submitFormContainer p {
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .submitFormContainer {
    width: 70vw;
  }
}

.submitFormContainer > h2 {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  color: #003bde;
  text-transform: capitalize;
}

.submitFormContainer > p {
  padding: 20px;
}

.submitform {
  width: 90%;
  margin: auto;
}

.submitform > label {
  display: none;
}

.submitform  > input,
.submitform  > textarea,
.submitform  > select {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  outline: rgb(129, 125, 125);
}

.submitFormTextarea {
  height: 150px;
}

.submitFormTextarea::-webkit-scrollbar {
  display: none;
}

.submitform > #submit-button {
  background-color: #003bde;
  color: #fff;
  outline: none;
  padding: 16px;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
}